@font-face {
  font-family: 'KFGQPC_Uthman_Taha_Naskh';
  src: url('fonts/KFGQPC_Uthman_Taha_Naskh.ttf') format('truetype'),
       url('fonts/KFGQPC_Uthman_Taha_Naskh.woff') format('woff'),
       url('fonts/KFGQPC_Uthman_Taha_Naskh.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
