.vertical-line-1 {
  border-left: 0.3mm solid black;
  height: 100%;
  position: absolute;
  right: 7.5mm;
  page-break-inside: auto; ;
}

.vertical-line-dashed-1 {
  border-left: 0.3mm dashed black;
  height: 120%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 7.5mm;
  page-break-inside: auto; ;
}

.vertical-line-2 {
  border-left: 0.3mm solid rgb(150, 150, 150);
  height: 100%;
  position: absolute;
  right: 5.4mm;
  page-break-inside: auto; ;
}

.vertical-line-inside {
  border-left: 0.3mm dotted rgb(220, 220, 220);
  height: 95%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0mm;
  page-break-inside: auto; ;
}

.diamond-marker{
  width: 1.2mm;
  height: 1.2mm;
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}

.diamond-marker.top-1 {
  background-color: black;
  top: 0;
  right: 7.0mm; ;
}

.diamond-marker.bottom-1 {
  background-color: black;
  bottom: 0;
  right: 7.0mm; ;
}

.diamond-marker.top-red-1 {
  background-color: rgb(205,100,100);
  top: 0;
  right: 7.0mm; ;
}

.diamond-marker.bottom-red-1 {
  background-color: rgb(205,100,100);
  bottom: 0;
  right: 7.0mm; ;
}

.diamond-marker.top-green-1 {
  background-color: rgb(70,175,70);
  top: 0;
  right: 7.0mm; ;
}

.diamond-marker.bottom-green-1 {
  background-color: rgb(70,175,70);
  bottom: 0;
  right: 7.0mm; ;
}

.diamond-marker.top-2 {
  background-color: rgb(150, 150, 150);
  top: 0;
  right: 5.0mm; ;
}

.diamond-marker.bottom-2 {
  background-color: rgb(150, 150, 150);
  bottom: 0;
  right: 5.0mm; ;
}

.diamond-marker.top-3 {
  background-color: rgb(200, 200, 200);
  top: 0;
  right: 3.0mm; ;
}

.diamond-marker.bottom-3 {
  background-color: rgb(200, 200, 200);
  bottom: 0;
  right: 3.0mm; ;
}

.container {
  position: relative;
  page-break-inside: auto; ;
}

.inner-paragraph-1 {
  display: inline-block;
  page-break-inside: auto;
  vertical-align: top;
  text-align: justify;
  margin-top: 0mm;
  width: 106mm;
  text-indent: 0mm;
}

.inner-paragraph-2 {
  display: inline-block;
  page-break-inside: auto;
  vertical-align: top;
  text-align: justify;
  margin-top: -1mm;
  width: 153mm;
}

.inner-paragraph-3 {
  display: inline-block;
  page-break-inside: auto;
  vertical-align: top;
  text-align: justify;
  margin-top: 1.5mm;
  width: 142mm;
}

.inner-paragraph-4 {
  display: inline-block;
  page-break-inside: auto;
  vertical-align: top;
  text-align: justify;
  margin-top: -1.5mm;
  width: 119mm;
}

.inner-paragraph-6 {
  display: inline-block;
  page-break-inside: auto;
  vertical-align: top;
  text-align: justify;
  margin-top: -1.5mm;
  width: 141mm;
}

.inner-paragraph-7 {
  display: inline-block;
  page-break-inside: auto;
  vertical-align: top;
  text-align: justify;
  margin-top: 0.0mm;
  width: 161mm;
}

.inner-paragraph-8 {
  display: inline-block;
  page-break-inside: auto;
  vertical-align: top;
  text-align: justify;
  margin-top: -3.0mm;
  width: 163mm;
}

.inner-paragraph-9 {
  display: inline-block;
  page-break-inside: auto;
  vertical-align: top;
  text-align: justify;
  margin-top: 0.0mm;
  width: 159mm;
}

.inner-paragraph-10 {
  display: inline-block;
  page-break-inside: auto;
  vertical-align: top;
  text-align: justify;
  margin-top: 0.0mm;
  width: 164mm;
}

.inner-paragraph-11 {
  display: inline-block;
  page-break-inside: auto;
  vertical-align: top;
  text-align: justify;
  margin-top: -1.1mm;
  width: 136mm;
}

.inner-paragraph-12 {
  display: inline-block;
  page-break-inside: auto;
  vertical-align: top;
  text-align: justify;
  margin-top: 0.5mm;
  width: 64mm;
}

.inner-paragraph-13 {
  display: inline-block;
  page-break-inside: auto;
  vertical-align: top;
  text-align: justify;
  margin-top: 0.5mm;
  width: 132mm;
}

.inner-paragraph-14 {
  display: inline-block;
  page-break-inside: auto;
  vertical-align: top;
  text-align: justify;
  margin-top: 1.0mm;
  width: 80mm;
}

.inner-paragraph-15 {
  display: inline-block;
  page-break-inside: auto;
  vertical-align: top;
  text-align: justify;
  margin-top: 1.0mm;
  width: 117mm;
}

.inner-paragraph-16 {
  display: inline-block;
  page-break-inside: auto;
  vertical-align: top;
  text-align: justify;
  margin-top: 0.0mm;
  width: 79mm;
}

.ordinary-near {
  margin-top: 0mm;
  margin-right: 10mm;
  margin-bottom: 0mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: 0mm;
}

.ordinary-far {
  margin-top: 0mm;
  margin-right: 10mm;
  margin-bottom: 4.5mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: 0mm;
}

.small-bullet-near {
  margin-top: 0mm;
  margin-right: 16.5mm;
  margin-bottom: 0mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -6.5mm;
}

.small-bullet-far {
  margin-top: 0mm;
  margin-right: 16.5mm;
  margin-bottom: 4.5mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -6.5mm;
}

.small-bullet-near-2 {
  margin-top: 0mm;
  margin-right: 14.5mm;
  margin-bottom: 0mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -4.5mm;
}

.small-bullet-far-2 {
  margin-top: 0mm;
  margin-right: 14.5mm;
  margin-bottom: 4.5mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -4.5mm;
}

.big-bullet-near {
  margin-top: 0mm;
  margin-right: 19.5mm;
  margin-bottom: 0mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -9.5mm;
}

.big-bullet-far {
  margin-top: 0mm;
  margin-right: 19.5mm;
  margin-bottom: 4.5mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -9.5mm;
}

.boxed {
  border: 1px solid rgb(150, 150, 150);
  padding: 1px 0.529166mm; ;
}

.boxed.square {
  border-bottom: 1px solid rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 1px solid rgb(100, 100, 100);
  padding: 0px 0px; ;
}

.boxed-red {
  border: 1px solid rgb(255, 220, 220);
  padding: 1px 0.529166mm; ;
}

.boxed-green {
  border: 1px solid rgb(210, 230, 210);
  padding: 1px 0.529166mm; ;
}

.boxed.underline-green {
  border-bottom: 1px dashed rgb(190, 210, 190);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-gradient {
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, black, white);
  border-image-slice: 1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-solidgreen {
  border-bottom: 1px solid rgb(190, 210, 190);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-blue {
  border-bottom: 1px dashed rgb(70, 70, 220);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-red {
  border-bottom: 1px dashed rgb(235, 200, 200);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-solidred {
  border-bottom: 1px solid rgb(235, 200, 200);
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-black-1 {
  border-bottom: 1px solid rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-black-far {
  border-bottom: 1px solid rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 3px 0mm; ;
}

.boxed.underline-black-2 {
  border-bottom: 1px solid rgb(180, 180, 180);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-black-3 {
  border-bottom: 1px solid rgb(220, 220, 220);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-blackdashed {
  border-bottom: 1px dashed rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-blackdashed2 {
  border-bottom: 1px dashed rgb(200, 200, 200);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-blackdotted {
  border-bottom: 1px dotted rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-blackdotted-far {
  border-bottom: 1px dotted rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 3px 0mm; ;
}

.boxed.underline-blackdotted2 {
  border-bottom: 2px dotted rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-three {
  border-bottom: 1px dashed rgb(100, 100, 100);
  border-left: 0;
  border-right: 1px dashed rgb(100, 100, 100);
  border-top: 1px dashed rgb(100, 100, 100);
  padding: 0px 0px; ;
}

.boxed.underline-notsure {
  border-bottom: 0;
  border-left: 1px dotted rgb(100, 100, 100);
  border-right: 1px dotted rgb(100, 100, 100);
  border-top: 0;
  padding: 0px 0.264583mm;
}

.zero-margin {
  margin-top: 0mm;
  margin-right: 0mm;
  margin-bottom: 0mm;
  margin-left: 0mm;
  text-align: justify;
  text-indent: 0mm;
}

.zero-margin2 {
  margin-top: 0mm;
  margin-right: 6.5mm;
  margin-bottom: 0mm;
  margin-left: 0mm;
  text-align: justify;
  text-indent: -6.5mm;
}

.zero-margin2.far {
  margin-bottom: 4.5mm;
}

.zero-margin3 {
  margin-top: 0mm;
  margin-right: 7mm;
  margin-bottom: 4.5mm;
  margin-left: 0mm;
  text-align: justify;
  text-indent: -5mm;
}

.zero-margin4 {
  margin-top: 0mm;
  margin-right: 6mm;
  margin-bottom: 0mm;
  margin-left: 0mm;
  text-align: justify;
  text-indent: 0mm;
}

.zero-margin5 {
  margin-top: 0mm;
  margin-right: 7mm;
  margin-bottom: 0mm;
  margin-left: 0mm;
  text-align: justify;
  text-indent: -5mm;
}

.zero-margin6 {
  margin-top: 0mm;
  margin-right: 4mm;
  margin-bottom: 0mm;
  margin-left: 0mm;
  text-align: justify;
  text-indent: -4mm;
}

.highlight1 {
  color:  rgb(70, 175, 70);
}

.highlight2 {
  color:  rgb(205, 100, 100);
}

.highlight3 {
  color:  rgb(0, 150, 255);
}

.highlight4 {
  color:  rgb(201, 129, 22);
}

.highlight5 {
  color:  rgb(175, 120, 35);
}

.highlight6 {
  color:  goldenrod;
}

.highlight7 {
  color:  violet;
}

.highlight8 {
  color:  sandybrown;
}

.highlight9 {
  color:  rgb(5, 145, 5);
}

.highlight10 {
  color:  rgb(180, 26, 26);
}

.highlight11 {
  color:  rgb(162, 192, 212);
}

.highlight12 {
  color:  rgb(0, 130, 230);
}

.backhighlight1 {
  text-shadow: 0.529166mm 0.529166mm 1.058332mm rgba(0, 0, 0, 0.5);
}

@media print {
  .header {
    position: fixed;
    top: 0mm;
    left: 40mm;
    right: 40mm;
    text-align: left;
    font-size: 5mm;
  }

  .content {
    margin-top: 17mm;
    margin-bottom: 17mm;
    margin-left: 10mm;
    margin-right: 10mm;
  }

  .my-inline-block {
    margin-bottom: calc(100vh - 20px); ;
  }

}

body {
  direction: rtl;
  text-align: right;
  width: 190mm;
  font-size: 4.5mm;
  line-height: 240%;
  font-family: 'KFGQPC Uthman Taha Naskh';
}