speech {
  font-size: 10mm;
  display: inline;
  color: inherit;
  text-decoration: none;
}

speech[open]::before {
  content: "«";
  position: relative;
  top: 1.5mm;
}

speech[close]::before {
  content: "»";
  position: relative;
  top: 1.5mm;
}

speech[underline]::before {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 0mm;
}

speech[green]::before {
  color: rgb(70,175,70);
}

speech[red]::before {
  color: rgb(205,100,100);
}

speech[blue]::before {
  color: rgb(70, 70, 220);
}

speech[gray]::before {
  color: rgb(150, 150, 150);
}

.vertical-line-1 {
  border-left: 0.3mm solid black;
  height: 100%;
  position: absolute;
  right: 7.4mm; ;
}

.diamond-marker{
  width: 1.2mm;
  height: 1.2mm;
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
}

.diamond-marker.top-1 {
  background-color: black;
  top: 0;
  right: 7.0mm; ;
}

.diamond-marker.bottom-1 {
  background-color: black;
  bottom: 0;
  right: 7.0mm; ;
}

.diamond-marker.top-2 {
  background-color: rgb(150, 150, 150);
  top: 0;
  right: 5.0mm; ;
}

.diamond-marker.bottom-2 {
  background-color: rgb(150, 150, 150);
  bottom: 0;
  right: 5.0mm; ;
}

.diamond-marker.top-3 {
  background-color: rgb(200, 200, 200);
  top: 0;
  right: 3.0mm; ;
}

.diamond-marker.bottom-3 {
  background-color: rgb(200, 200, 200);
  bottom: 0;
  right: 3.0mm; ;
}

.container {
  position: relative; ;
}

.inner-paragraph-1 {
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  margin-top: 0mm;
  width: 102mm;
  text-indent: 0mm;
}

.inner-paragraph-2 {
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  margin-top: 2mm;
  width: 100mm;
}

.inner-paragraph-3 {
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  margin-top: 1mm;
  width: 142mm;
}

.inner-paragraph-4 {
  display: inline-block;
  vertical-align: top;
  text-align: justify;
  margin-top: 0mm;
  width: 161mm;
  text-indent: 0mm;
}

.boxed.underline-gradient {
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, black, white);
  border-image-slice: 1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-gradientrev {
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, white, black);
  border-image-slice: 1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
}

.boxed.underline-gradientsym {
  width: 100%;
  border-bottom: 1px dotted;
  border-image: linear-gradient(to right, rgb(230, 230, 230) 0%,
  rgb(190, 190, 190) 45%,
  rgb(190, 190, 190) 55%,
  rgb(230, 230, 230) 100%);
  border-image-slice: 1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-gradientsym1 {
  width: 100%;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, rgb(100, 100, 100) 0%,
  rgb(230, 230, 230) 15%,
  rgb(230, 230, 230) 85%,
  rgb(100, 100, 100) 100%);
  border-image-slice: 1;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px; ;
}

.boxed.underline-black-1 {
  border-bottom: 1px solid rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px;
}

.boxed.underline-black-far {
  border-bottom: 1px solid rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 3px 0mm;
}

.boxed.underline-black-2 {
  border-bottom: 1px solid rgb(180, 180, 180);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px;
}

.boxed.underline-black-3 {
  border-bottom: 1px solid rgb(220, 220, 220);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px;
}

.boxed.underline-blackdashed {
  border-bottom: 1px dashed rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px;
}

.boxed.underline-blackdashed2 {
  border-bottom: 1px dashed rgb(200, 200, 200);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px;
}

.boxed.underline-blackdashedbold {
  border-bottom: 2px dashed rgb(180, 180, 180);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px;
}

.boxed.underline-blackdashed-far {
  border-bottom: 1px dashed rgb(150, 150, 150);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 3px 0mm;
}

.boxed.underline-blackdotted {
  border-bottom: 1px dotted rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px;
}

.boxed.underline-blackdotted-far {
  border-bottom: 1px dotted rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 3px 0mm;
}

.boxed.underline-blackdotted2 {
  border-bottom: 2px dotted rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px;
}

.boxed.underline-blackdotted3 {
  border-bottom: 3px dotted rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 0px 0px;
}

.boxed.underline-blackdotted3-far {
  border-bottom: 3px dotted rgb(100, 100, 100);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 3px 0px;
}

.boxed.underline-solidgreen-far {
  border-bottom: 1px solid rgb(120, 200, 120);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 3px 0mm; ;
}

.boxed.underline-solidred-far {
  border-bottom: 1px solid rgb(240, 170, 170);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  padding: 3px 0mm; ;
}

.boxed.underline-notsure {
  border-bottom: 0;
  border-left: 1px dotted rgb(100, 100, 100);
  border-right: 1px dotted rgb(100, 100, 100);
  border-top: 0;
  padding: 0px 0.264583mm;
}

.ordinary-near {
  margin-top: 0mm;
  margin-right: 10mm;
  margin-bottom: 0mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: 0mm;
}

.ordinary-far {
  margin-top: 0mm;
  margin-right: 10mm;
  margin-bottom: 4.5mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: 0mm;
}

.small-bullet-near {
  margin-top: 0mm;
  margin-right: 15mm;
  margin-bottom: 0.0mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -5mm;
}

.small-bullet-far {
  margin-top: 0mm;
  margin-right: 15mm;
  margin-bottom: 4.5mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -5mm;
}

.small-bullet-near-2 {
  margin-top: 0mm;
  margin-right: 14.5mm;
  margin-bottom: 0mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -4.5mm;
}

.small-bullet-far-2 {
  margin-top: 0mm;
  margin-right: 14.5mm;
  margin-bottom: 4.5mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -4.5mm;
}

.big-bullet-near {
  margin-top: 0mm;
  margin-right: 19.5mm;
  margin-bottom: 0mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -9.5mm;
}

.big-bullet-far {
  margin-top: 0mm;
  margin-right: 19.5mm;
  margin-bottom: 4.5mm;
  margin-left: 10mm;
  text-align: justify;
  text-indent: -9.5mm;
}

.zero-margin {
  margin-top: 0mm;
  margin-right: 0mm;
  margin-bottom: 0mm;
  margin-left: 0mm;
  text-align: justify;
  text-indent: 0mm;
}

.zero-margin.far {
  margin-bottom: 4.5mm;
}

.zero-margin2 {
  margin-top: 0mm;
  margin-right: 6.5mm;
  margin-bottom: 0mm;
  margin-left: 0mm;
  text-align: justify;
  text-indent: -6.5mm;
}

.highlight1 {
  color:  rgb(70, 175, 70);
}

.highlight2 {
  color:  rgb(205, 100, 100);
}

.highlight3 {
  color:  rgb(0, 150, 255);
}


.highlight8 {
  color:  sandybrown;
}

@media print {
  .header {
    position: fixed;
    top: 0mm;
    left: 40mm;
    right: 40mm;
    text-align: left;
    font-size: 5mm;
  }

  .content {
    margin-top: 17mm;
    margin-bottom: 17mm;
    margin-left: 10mm;
    margin-right: 10mm;
  }

  .my-inline-block {
    margin-bottom: calc(100vh - 20px); ;
  }

}

body {
  direction: rtl;
  text-align: right;
  width: 190mm;
  font-size: 4.5mm;
  line-height: 240%;
  font-family: 'KFGQPC Uthman Taha Naskh';
}